---
layout: page
title: 他山之石 RCS
header: Posts By Category
group: navigation
sitemap:
    priority: 0.7
    changefreq: monthly
    lastmod: 2013-12-12T12:49:30-05:00
---
{% include JB/setup %}
              <div class="categorybody">

              {% for category in site.categories %} 
                    {% if category[0] == "他山之石" %}
                    <br/>
                    <ul>
                      {% assign pages_list = category[1] %}  
                      {% include JB/pages_list %}
                    </ul>
                    {% endif %}
              {% endfor %}

            </div>